* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1 {
    text-align: center;
}

#outer {
    border: 1px orange solid;
    width: 80%;
    margin: 20px auto;
    height: 400px;
}

.content {
    width: 100%;
    height: 370px;
}

.nav {
    list-style: none;
    border-bottom: solid orange 1px;
    height: 30px;
}

.nav li {
    float: left;
    width: 100px;
    line-height: 30px;
    border-right: solid orange 1px;
    text-align: left;
    box-sizing: border-box;
}

.nav li span {
    padding-left: 8px;
    padding-right: 4px;
}

.nav li a {
    float: right;
    border: 1px orange solid;
    line-height: 12px;
    vertical-align: top;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: orange;
}

.nav .click {
    position: relative;
    border-bottom: solid white 1px;
}

.content section {
    width: 100%;
    height: 100%;
    display: none;
}

.content .display {
    display: block;
}

.addTab {
    width: 20px;
    line-height: 20px;
    float: right;
    text-align: center;
    position: relative;
    top: -27px;
    right: 5px;
    border: 1px solid orange;
}

textarea {
    width: 100%;
    height: 100%;
}

input{
    width: 66px;
}

section input{
    width: 100%;
    height: 300px;
}