* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#outer {
    border: 1px orange solid;
    width: 80%;
    margin: 20px auto;
    height: 400px;
}

.nav {
    list-style: none;
    border-bottom: solid orange 1px;
    height: 30px;
}

.nav li {
    float: left;
    width: 80px;
    font-size: 8px;
    line-height: 30px;
    border-right: solid orange 1px;
    text-align: left;
    padding-left: 10px;;
    position: relative;
    box-sizing: border-box;
}

.nav li span {
    border: 1px orange solid;
    width: 15px;
    height: 15px;
    text-align: center;
    position: absolute;
    right: 6px;
    background-color: orange;
}

.nav .click {
    position: relative;
    border-bottom: solid white 1px;
}

.content section {
    width: 100%;
    height: 100%;
    display: none;
}

.content .display {
    display: block;
}

.addTab {
    width: 20px;
    line-height: 20px;
    float: right;
    text-align: center;
    position: relative;
    top: -27px;
    right: 5px;
    border: 1px solid orange;
}
